html {
    scroll-behavior: smooth;
}

#top-menu {
    transition: transform 0.3s ease-in-out;
<<<<<<< HEAD
    z-index: 1000;
=======
    z-index: 10;
>>>>>>> c595f512c3c3812338afabde29441c10ab2a3f69
}

/* Toggle */
.toggle-header > *{
    cursor: pointer;
    transition: all 0.3s;
}

.toggle-header:hover > *{
    background-color: #007bff!important;
    color: aliceblue;
}
.toggle-content {
    display: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> c595f512c3c3812338afabde29441c10ab2a3f69
